.container {
  display: flex;
  justify-content: space-between;
}

.container > * {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.container > *:first-child {
  margin-left: 0;
}

.container > *:last-child {
  margin-right: 0;
}