.base {
  padding: 30px 0;
  background-color: #fff;
  background: linear-gradient(45deg, #0091AE, #0068A6);
}

.compactForm {
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}

.base h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #87e5b6;
  margin-bottom: 30px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
}

.input {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px 16px;
}

.spinner {
  padding: 0 0 400px;
}

.base .cta {
  font-size: 16px;
  display: block;
  margin: 30px auto 0;
  padding: 14px 40px;
  border-radius: 30px;
  color: #0d49a0;
  transition: ease-in-out all 0.3s;
  box-shadow: 0 0 30px #fcd55f;
}

.base .cta:hover {
  box-shadow: 0 0 10px #fcd55f;
}

.errorAlert {
  cursor: pointer;
  margin-bottom: 20px;
}

.successAlert {
  margin-bottom: 60px;
}